* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
}
/* #instructions-button {
    margin-right: auto;
    align-self: flex-start;
}
#welcome-message {
    display:inline-block;
} */
.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}
  
.instructions {
    margin-left: 10px;
    margin-right: 30%;
    background-color: lightgrey;
    font-size: 2vmin;
    color: rgba(169,169,169,0.9);
}

#result-message {
    position:relative;
    top: 40px;
    visibility: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background-color: rgba(255,255,255,0.5);
    min-width: 160px;
    max-width: 325px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 2vmin;
  }
  .dropdown {
    margin-right: 31%;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 50px;
    left: 75px;
  }

#board {
    height: 77vh;
    position: relative;
    top: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vmin;
    /* border: 1px solid red; */
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vmin;
    margin-top: 3px;
    
}

header {
    font-size: 4vmin;
    color: darkgrey;
    letter-spacing: 1vmin;
    margin-top: 5vmin;
}

#board > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h1 {
    font-size: 3vmin;
}
.row > div {
    width: 6vmin; 
    height: 6vmin;
    border: .1vmin solid grey;
    border-radius: 50%;
}
.game-container {
    position:relative;
    top: -6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 20px;

    
}
#results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Adjust width as needed: */
    height: 70vh;
    width: 10vmin; 
    margin: 5px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
}
.col-row {
    height: 6vmin; 
    border: .1vmin solid grey;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: .5vmin;
}
.peg {
    border: 1px solid grey;
    border-radius: 50%;
    height: 2vmin;
    width: 2vmin;
    justify-self: center;
    align-self: center;
}
#right-section {
    /* Adjust the width and height as needed */
    width: 30%;
    height: 80%; 
    display: flex;
    margin-left: 15vmin;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Add other styles as needed */
}

#colors {
    width: 100%;
    margin-left: 10px;
    padding: 5px;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#colors > div {
    grid-row: span 1;
    grid-column: span 1;
    
}

.peg-choices {
    height: 20vmin;
    width: 20vmin;
    border: .1vmin solid grey;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: .5vmin;
    margin-top: 10vmin;

}
#color1 {
    background-color: red;
}
#color2 {
    background-color: yellow;
}
#color3 {
    background-color: blue;
}
#color4 {
    background-color: purple;
}
#color5 {
    background-color: pink;
}
#color6 {
    background-color: orange;
}
#select, #deselect {
    margin-top: 4vmin;
    width: 100px;
    background-color: lightgrey;
}
#play-again {
    visibility: hidden;
    margin-top: 10vmin;
    width: fit-content;
    background-color: red;
    color: white;
}

/* #row-A {
    visibility: hidden;
} */
#color-code {
    visibility: hidden;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#colors > div:hover {
    transform: scale(1.3);
    transition: transform 150ms ease-in;
    border: 1px solid black;

}
@media screen and (max-width: 800px) {
    .dropdown {
        margin-right: 25%;
    }
}

@media screen and (max-width: 680px) {
    .dropdown {
        margin-right: 22%;
    }
}


@media screen and (max-width: 500px) {
    #board {
        width: 30vmin;
    }
    #results {
        width: 7.5vmin;
    }

}
@media screen and (max-width: 400px) {
    #board {
        width: 25vmin;
    }
    #results {
        width: 6.25vmin;
    }
    .peg {
        height: 1vmin;
        width: 1vmin;
    }
    .buttons-container {
        position: relative;
        right: 10px;
    }
}
@media screen and (max-width: 345px) {
    #board {
        width: 20vmin;
        position: relative;
        right: 5px;
    }
    #results {
        width: 5vmin;
        position: relative;
        right: 5px;
    }
    .peg {
        height: 1vmin;
        width: 1vmin;
    }
    .buttons-container {
        position: relative;
        right: 15px;
    }
    .col-row {
        /* Style as needed... */
        height: 6vmin; 
        border: .1vmin solid grey;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: .5vmin;
        width: 6vmin;
    }

}
@media screen and (max-width: 300px) {
    #select, #deselect {
        width: 50px;
        height: 45px;
        font-size: 50%;
    }

}
@media screen and (max-height: 550px) {
    #colors {
        height: 40%;
    }

}

@media screen and (max-height: 490px) {
    #colors {
        height: 70%;
        position: relative;
        top: 20px;
    }
    .peg-choices {
        position: relative;
        top: 20px;
    }
    .buttons-container {
        position: relative;
        top: 20px;
    }
}
@media screen and (max-height: 450px) {
    #colors {
        height: 500px;
        top: 20px;
    }
    .buttons-container {
        position: relative;
        top: 40px;
    }
    .peg-choices {
        position: relative;
        top: 40px;
    }
    #select, #deselect {
        width: 50px;
        height: 30px;
        font-size: 50%;
    }

}
@media screen and (max-height: 425px) {
    #colors {
        height: 100vmin;
        top: 20px;
        right: 20px;
    }
}