/* General Resets and Utility Classes */
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0D1B2A
}
#color1 {
    background-color: red;
}
#color2 {
    background-color: yellow;
}
#color3 {
    background-color: blue;
}
#color4 {
    background-color: purple;
}
#color5 {
    background-color: pink;
}
#color6 {
    background-color: orange;
}
#color7 {
    background-color: green;
}
#color8 {
    background-color: brown;
}



/* Header Styles */
.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    background-color: #1B263B;
}
header {
    font-size: 7vmin;
    color: darkgrey;
    letter-spacing: 1vmin;
    align-self: center;
}
.dropdown, #color-selection-button {
    align-self: flex-start; /* Align these items to the start, effectively the top */
}
.instructions {
    background-color: #1B263B;
    font-size: 2vmin;
    color: rgba(169,169,169,0.9);
    /* margin-top: 5vmin; */
    margin: 5px;
    padding: 10px 15px;
}
#color-selection-button {
    background-color: #1B263B;
    font-size: 2vmin;
    color: rgba(169,169,169,0.9);
    border: none;
    margin: none;
}
#MM {
    margin-bottom: 3vmin;
}



/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background-color: rgba(255,255,255,0.9);
    min-width: 300px;
    max-width: 325px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 2vmin;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 50px;
    left: 75px;
}



/* Main Game Container and Board */
.game-container {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 20px;
    width: 100vw;
}
/* Styles for the main board and the results section */
#board {
    height: 80vh;
    position: relative;
    top: 5px;
    margin: 5px;
    /* display: flex; */
    width: 70vmin;
}
#color-code {
    visibility: hidden;
}

.gameRow {
    margin-bottom: 2vmin;
}
/* Styles for the individual rows, columns, and pegs within the board */
#board > .gameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gameRow > div {
    width: 6vmin; 
    height: 6vmin;
    border: .1vmin solid grey;
    border-radius: 50%;
}
/* result box styles */
.col-row {
    align-items: center;
    justify-items: center;
    border-radius: 0 !important;
    height: 8vmin !important;
    width: 8vmin !important;
    border: .1vmin solid grey;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: .3vmin;
    padding: 0 !important;
    background-color: #1B263B;
}
.peg {
    border: 1px solid grey;
    border-radius: 50%;
    height: 1.5vmin;
    width: 1.5vmin;
    justify-self: center;
    align-self: center;
}



/* Right Section including Color Choices and Buttons */
#right-section {
    width: 30%;
    height: 80vh; 
    display: flex;
    margin-left: 15vmin;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Add other styles as needed */
}
#colors {
    width: 90%;
    margin-left: 10px;
    /* padding: 5px; */
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid gray;
}
#colors > div {
    grid-row: span 1;
    grid-column: span 1;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid grey;
}
#colors > div:hover {
    transform: scale(1.3);
    transition: transform 150ms ease-in;
    border: 1px solid black;
}
.peg-choices {
    height: 20vmin;
    width: 20vmin;
    border: .1vmin solid grey;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: .5vmin;
    margin-top: 10vmin;
    background-color: #1B263B;
}
.peg-choices > .peg {
    height: 2vmin;
    width: 2vmin;

}
.buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* Styles for the right section of the game, where users select colors and interact with game buttons */
}


/* Modal and Color Selection */
.modal {
    display: none; /* hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* centering the modal */
    border: 1px solid #888;
    width: 30%;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #0D1B2A;
    padding: 20px;
    z-index: 1000; /* makes sure it sits on top */
}

.colorButtons {
    display: flex;
    justify-content: flex-end;
}
#all-colors, #selected-colors {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#all-colors div, #selected-colors div {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.color-choice-bubble {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #ddd;
    /* Styles for the color selection modal, including the layout of all colors and selected colors */
}



/* Buttons */
button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #1B263B;
    color: darkgrey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.3);
    transition: transform 150ms ease-in;
}
#play-again {
    visibility: hidden;
    margin-top: 10vmin;
    width: fit-content;
    background-color: red; 
    color: white;
}
#select, #deselect {
    margin-top: 4vmin;
    width: 100px;
    background-color: #1B263B;
    border: 1px solid gray;
    font-size: 16px;
}

#cancelButton {
    margin-right: auto;
}


/* Game Feedback and Messages*/
#result-message {
    position:relative;
    top: 40px;
    visibility: hidden;
}

@media (hover: hover) and (pointer: fine) {
    #select:hover, #deselect:hover {
        transform: scale(1.3);
        transition: transform 100ms ease-in;
        border: 1px solid black;
        background-color: #1B263B;
    }
}

@media screen and (max-width: 900px) {
    #right-section {
        margin-left: 10vmin;
    }
    #colors {
        width: 75%;
        height: 25%;
    }
    #board {
        width: 60vmin;
    }
    .buttons-container {
        width: 85%;
    }
    #select, #deselect {
        font-size: 13px;
    }
    .modal {
        width: 50%;
    }
}
@media screen and (max-width: 775px) {
    .col-row {
        height: 7vmin !important;
        width: 7vmin !important;
    }
    #right-section {
        margin-left: 5vmin;
    }
    #colors {
        width: 70%;
        height: 25%;
    }
    #board {
        width: 45vmin;
    }
    .buttons-container {
        width: 70%;
    }
}
@media screen and (max-width: 700px) {
    #right-section {
        margin-left: 3vmin;
    }
    #colors {
        width: 60%;
        height: 20%;
    }
    #board {
        width: 40vmin;
    }
    #select, #deselect {
        font-size: 13px;
    }
    .buttons-container {
        width: 65%;
    }
    .gameRow > div {
        width: 5vmin;
        height: 5vmin;
    }
    .peg-choices {
        height: 15vmin;
        width: 15vmin;
    }
}
@media screen and (max-width: 625px) {
    #right-section {
        margin-left: 5vmin;
    }
    
    .peg-choices {
        height: 13vmin;
        width: 13vmin;
    }
    .gameRow > div {
        width: 4vmin;
        height: 4vmin;
    }
    .buttons-container {
        width: 50%;
    }
    #select, #deselect {
        font-size: 10px;
    }
    #board {
        height: 90%;
    }
}
@media screen and (max-width: 625px) {
    #colors {
        margin-left: 0px;
    }
    #select, #deselect {
        font-size: 8px;
    }
}
@media screen and (max-width: 550px) {
    #colors {
        margin-left: 0px;
        height: 80px;
    }
    #select, #deselect {
        font-size: 8px;
    }
    .peg-choices {
        margin-top: 5vmin;
    }
    #board {
        width: 45vmin;
    }
    #right-section {
        width: 175px;
    }
    .modal {
        width: 70%;
    }
}
@media screen and (max-width: 500px) {
    #colors {
        height: 60px;
    }
    #select, #deselect {
        font-size: 6px;
    }
    .peg-choices {
        margin-top: 3vmin;
        height: 11vmin;
        width: 11vmin;
    }
    #board {
        width: 50vmin;
        height: 100vmin;
    }
}
@media screen and (max-width: 400px) {
    #board {
        width: 40vmin;
    }
}
/*
@media screen and (max-width: 550px) {
    #select, #deselect {
        font-size: 8px;
    }
    #right-section {
        margin-left: 7vmin;
    }
}
@media screen and (max-width: 450px) {
    #select, #deselect {
        font-size: 6px;
    }
}
@media screen and (max-width: 300px) {
    #select, #deselect {
        width: 50px;
        height: 45px;
        font-size: 50%;
    }

}
@media screen and (max-height: 550px) {
    #colors {
        height: 40%;
    }

}

@media screen and (max-height: 490px) {
    #colors {
        height: 70%;
        position: relative;
        top: 20px;
    }
    .peg-choices {
        position: relative;
        top: 20px;
    }
    .buttons-container {
        position: relative;
        top: 20px;
    }
}
@media screen and (max-height: 450px) {
    #colors {
        height: 500px;
        top: 20px;
    }
    .buttons-container {
        position: relative;
        top: 40px;
    }
    .peg-choices {
        position: relative;
        top: 40px;
    }
    #select, #deselect {
        width: 50px;
        height: 30px;
        font-size: 50%;
    }

}
@media screen and (max-height: 425px) {
    #colors {
        height: 100vmin;
        top: 20px;
        right: 20px;
    }
} */